.titulo {
    font-size: 36px;
    text-align: center;

    @include for-phone-only{
      font-size: 30px;
    }

    @include for-tablet-portrait-up{
      font-size: 25px;
    }
  

  }
  
  .projectIcon {
    font-size: 150px;

    @include for-tablet-portrait-up{
      font-size: 100px;
    }
  }

  .project__item {
    width: 24%;
    height: 600px;

    @include for-phone-only{
      margin: 15px auto;
      width: 100%;
      height: 450px;

    }

    @include for-tablet-portrait-up{
      margin: 15px auto;
      width: 45%;
      height: 400px;
    }

  }
  
  .project__item:nth-of-type(even) .flip-front {
    background-color: #a491ff;
  }
  .project__item:nth-of-type(even) .flip-back {
    background-color: #a491ff;
  }
  
  .project__description {
    color: #fff;
    padding: 30px;
  }