@import "./company/project.css";
@import "./company/time.css";
@import "./company/wrapper.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav ul li {
  list-style: none;
}

body {
  font-family: "Courier New", Courier, monospace;
}

html {
  scroll-behavior: smooth;
}

.header {
  background: #5500ff;
}

.list {
  display: flex;
}

.link {
  color: aliceblue;
  margin-right: 1.25rem;
  text-decoration: none;
  text-transform: lowercase;
}

.link:hover {
  text-decoration: underline;
}

.link {
  font-size: 25px;
}

.tituloMaior {
  font-size: 70px;
}

.logo {
  padding: 10px 10px;
}
