/* margin - centralizar */
.wrapper {
  width: 1700px;
  margin: 50px auto;
}
.wrapper--noMargin {
  margin-top: 0;
  margin-bottom: 0;
}
.header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.project__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.time__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
